.loginHeader {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.loginPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 20vh;
}

.loginStat {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: white;
}